<div class="photo playfair topmargin100">

<div class="container">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
    <img ng-src="{{detail.img}}" >
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        
    <h2 class="photo-title">{{detail.name}}</h2>
        
    <p class="photo-author">{{detail.type}}</p>
    <p class="photo-author">{{detail.material}}</p>
    <p class="photo-author">{{detail.weight}}</p>
    <p class="photo-author">{{detail.description}}</p>
    <p class="photo-author">{{detail.price}}€</p>
    </div>
    
</div>

</div>